{% extends "base.html" %}

{% block title %}Grapevine - Overview{% end %}

{% block content %}
          <div class="row charts">
            <div class="col-xs-6 chart" id="review">

              <svg></svg>
              <h4>Rating Trends</h4>
              <span class="text-muted">Averaged review scores (0-100) per wine vintage vs price, aggregated over region.</span>
            </div>
            <div class="col-xs-6 chart" id="prices">
              <svg></svg>
              <h4>Prices</h4>
              <span class="text-muted">Price history over time, aggregated over region.</span>
            </div>
          </div>

          <h2 class="sub-header">Individual Wines</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Region</th>
                  <th>Average Price <small>(all vintages, 2005-2015)</small></th>
                </tr>
              </thead>
              <tbody>
                {% for wine in wines %}
                  {% block row_wine %}
                  <tr>
                    <td>{{ escape(wine['_id']['name']) }}</td>
                    <td>{{ escape(wine['_id']['region']) }}</td>
                    <td>£{{ escape('%.2f' % wine['price']) }}</td>
                  </tr>
                  {% end %}
                {% end %}
              </tbody>
            </table>
          </div>
          {% if int(page_num) > 1 %}
          <a class="btn btn-primary" href="/{{escape(str(page_num - 1))}}">Previous Page</a>
          {% end %}
          {% if len(wines) == page_size %}
          <a class="btn btn-primary pull-right" href="/{{escape(str(page_num + 1))}}">Next Page</a>
          {% end %}

          <script src="{{ static_url( "js/overview/charts.js") }}" type="text/javascript"></script>
          <script src="{{ static_url( "js/api.js" )}}" type="text/javascript"></script>
{% end %}
