<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FDS</title>

    <!--
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    -->

    <link rel="stylesheet" href="{{ static_url("bootstrap/dist/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ static_url("nvd3/build/nv.d3.css") }}">
    <link rel="stylesheet" href="{{ static_url("css/no-gridlines.css") }}">
    <link rel="stylesheet" href="{{ static_url("css/dashboard.css") }}">

    <script src="{{ static_url( "jquery/dist/jquery.min.js" ) }}"></script>
    <script src="{{ static_url( "bootstrap/dist/js/bootstrap.min.js" ) }}"></script>
    <script src="{{ static_url( "d3/d3.min.js" ) }}"></script>
    <script src="{{ static_url( "nvd3/build/nv.d3.min.js" ) }}"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Grapevine</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" chart="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <div class="row charts">
            <div class="col-xs-6 chart" id="review">

              <svg></svg>
              <h4>Rating Trends</h4>
              <span class="text-muted">Averaged review scores (0-100) per wine vintage vs price, aggregated over region.</span>
            </div>
            <div class="col-xs-6 chart" id="prices">
              <svg></svg>
              <h4>Prices</h4>
              <span class="text-muted">Price history over time, aggregated over region.</span>
            </div>
          </div>

          <h2 class="sub-header">Individual Wines</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Region</th>
                  <th>Average Price</th>
                </tr>
              </thead>
              <tbody>
                {% for wine in wines %}
                  {% block row_wine %}
                  <tr>
                    <td>{{ escape(wine['_id']['name']) }}</td>
                    <td>{{ escape(wine['_id']['region']) }}</td>
                    <td>£{{ escape('%.2f' % wine['price']) }}</td>
                  </tr>
                  {% end %}
                {% end %}
              </tbody>
            </table>
          </div>
          {% if int(page_num) > 1 %}
          <a class="btn btn-primary" href="/{{escape(str(page_num))}}">Previous Page</a>
          {% end %}
          <a class="btn btn-primary pull-right" href="/{{escape(str(next_page))}}">Next Page</a>
        </div>
      </div>
    </div>

    <script src="{{ static_url( "js/charts.js") }}"></script>
    <script src="{{ static_url( "js/api.js" )}}" type="text/javascript"></script>
  </body>
</html>
