{% extends "base.html" %} {% block title %}Grapevine - Overview{% end %} {% block content %}

<div class="row">
    <div class="col-md-8">
        <!-- <h4>Rating Trends</h4> -->
        <span class="text-muted">
          <p>
            There are a number of areas around the world renowned for the quality of their wine, and among these is the Bordeaux region in France. This reputation is reflected in the price of wine produced in the area, with the best bottles costing thousands of pounds. This project will revolve around collecting various data sets (weather data, agricultural production metrics, and more) and comparing with the year-on-year price of wine produced in the Bordeaux region - thus attempting to uncover links between price, investment potential, weather, agricultural output, and so on. Much of this data is available before the wine is bottled (it is cheaper to buy in bulk that way). Thus, the question we will try to answer can be formulated like this;
          </p>

        <p>
"Can we use data to make inferences about which vintages will be the most profitable, using only data that is available before the wine is bottled?"
        </p>

<p>
  We will attempt to do this by constructing a web dashboard containing visualisations that will allow the user to explore historical wine prices, historical weather summary statistics (for example, monthly rainfall over a given year), and more - and attempting to uncover interesting relationships and patterns in the data.
</p>
</span>
    </div>
    <div class="col-md-4 bigchart" id="overview">
        <h4>Correlation coefficient</h4>
    </div>
</div>

<!-- <div class="row charts">
    <div class="col-md-12 bigchart" id="overview">
        <h2>Correlation coefficient</h2>
    </div>
</div> -->
<script src="{{ static_url( "js/overview/charts.js" )}}" type="text/javascript"></script>
{% end %}
