{% extends "base.html" %}

{% block title %}Grapevine - Price Data{% end %}

{% block content %}
          <div class="row charts">
            <div class="col-md-12 bigchart" id="economy">
              <h2>Global Economic Trends</h2>
              <svg></svg>
            </div>
          </div>

          <br />
          <br />
          <div class="row">
            <div class="col-md-8 col-md-offset-2" id="review">
              <h4>Rating Trends</h4>
              <span class="text-muted">Comparing the state of the global economy (using the MSCI world stock index as a proxy) to the price of wine from individual regions of France. Wine prices seem to be somewhat unaffected by the 2008 sub-prime mortgage crisis, but instead seem to stagnate for approximately two years and then recover slowly. Wine prices seem to remain largely unmoved by short-term fluctuations in the market, only displaying change at more significant and long-term market movements.</span>
            </div>
          </div>

          <script src="{{ static_url( "js/prices/charts.js" )}}" type="text/javascript"></script>
{% end %}
