{% extends "base.html" %}

{% block title %}Grapevine - Review Data{% end %}

{% block content %}
          <div class="row bigchart">
            <div class="col-md-12 chart" id="review">
              <svg></svg>
              <h4>Rating Trends</h4>
              <span class="text-muted">Averaged review scores (0-100) per wine vintage vs price, aggregated over region.</span>
            </div>
          </div>

          <div class="row charts">
            <div class="col-md-12 chart" id="word_cloud">
              <svg></svg>
              <h4>Tasting Notes Word Cloud</h4>
              <span class="text-muted">A word cloud comprising of the most common words in each wine review.
          </div>

          <script src="{{ static_url( "js/reviews/charts.js") }}" type="text/javascript"></script>
{% end %}
